<main>
    <h2>ניהול סיסמאות</h2>

    <button class="load-passwords" (click)="passmepass()">טעינת סיסמאות רכזים</button>
    @let dataSource = this.dashboardService.passwords();
    @if(dataSource.length > 0) {
    <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="סיסמה">
                <th mat-header-cell *matHeaderCellDef> סיסמה </th>
                <td mat-cell *matCellDef="let element">
                    @if(element.isEditing) {
                    <input matInput [(ngModel)]="element.password">
                    <button [disabled]="element.password.length < 8" (click)="saveCell(element)">
                        <mat-icon class="material-icons">save</mat-icon>
                    </button>
                    } @else {
                    <span> {{element.password}} </span>
                    <button class='edit' (click)="editCell(element)">
                        <mat-icon class="material-icons">edit</mat-icon>
                    </button>
                    }
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['סיסמה']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['סיסמה']"></tr>
        </table>
    </div>
    }
</main>