<main>
    <div class="heading">
        <select [(ngModel)]="selectedQuiz">
            <option value='-1' selected>- בחירת חידון -</option>
            @for(quiz of dashboardService.quizzes(); track quiz.id){
            <option [value]="quiz.id">{{quiz.title}}</option>
            }
        </select>
        <button (click)="deleteQuiz()" [disabled]="selectedQuiz() === -1" title="מחיקת חידון">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <form #addQuizForm="ngForm" (ngSubmit)="onSubmit(addQuizForm)">
        <div class="form-control-wrapper">
            <label>שם חידון
                <input type="text" name="quizName" [(ngModel)]="formData().title" required placeholder="שם חידון" />
            </label>
        </div>

        <div class="question-wrapper form-control-wrapper">
            @for(question of formData().questions; track $index) {
            @let questionIndex = $index + 1;
            <div class="question">
                <div class="question-title">
                    <button class="remove" type="button" (click)="deleteQuestion($index)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <label>שאלה {{questionIndex}}
                        <input type="text" name="title_{{questionIndex}}" [(ngModel)]="question.title" required
                            placeholder="שאלה {{questionIndex}}" />
                    </label>
                    <div class="attach">
                        <input type="file" (change)="onFile($event)" name="file" accept="video/*,image/*">
                        @let attachedFileUrl = '/api/' + question.imageUrl;
                        @let mediaType = checkMediaType(attachedFileUrl);
                        @if(mediaType !== 'unknown'){
                        <div class="has-url">
                            <button type="button" [attr.popovertarget]="'popover' + question.imageUrl">
                                <span>
                                    @if(mediaType === 'video'){
                                    <mat-icon class="video">video_file</mat-icon>
                                    } @else{
                                    <img loading="lazy" fetchpriority="low" [src]="attachedFileUrl">
                                    }
                                </span>
                            </button>
                            <div class="popover-wrapper" [id]="'popover' + question.imageUrl" popover>
                                @if(mediaType === 'video'){
                                <video controls>
                                    <source [src]="attachedFileUrl" type="video/mp4">
                                </video>
                                } @else {
                                <img loading="lazy" fetchpriority="low" [src]="attachedFileUrl">
                                }
                            </div>
                        </div>
                        }
                        <button type="button" (click)="upload($index)">העלאה</button>
                        @if(loading()){
                        <mat-spinner></mat-spinner>
                        }
                        @if(fileSubmitionStatus() === 200){
                        <mat-icon>check</mat-icon>
                        } @else if(fileSubmitionStatus() !== -1){
                        <mat-icon>close</mat-icon>
                        }
                    </div>
                </div>
                <div class="question-possible-answers">
                    @for(answer of question!.possible_answers!; track $index) {
                    @let answerIndex = $index + 1;

                    <span class="answer-and-radio">
                        <input type="radio" name="correctAnswer_{{questionIndex}}" required
                            [(ngModel)]="formData().answers[questionIndex - 1]" [value]="answer.id" />
                        <input type="text" name="answer_{{questionIndex}}_{{answerIndex}}" [(ngModel)]="answer.value"
                            required placeholder="תשובה {{answerIndex}}" />
                    </span>
                    }
                </div>
            </div>
            @if(!$last){
            <hr />
            }
            }
        </div>
        <div class="actions">
            <button type="submit" [disabled]="addQuizForm.invalid" [style.fontWeight]="600">עדכון חידון</button>
            <button type="button" (click)="addQuestion()">הוספת שאלה</button>
        </div>

        @if(submitionStatus() === 200){
        <c-alert visible="true" dismissible="true" color="success" fade>
            החידון נוסף בהצלחה
        </c-alert>
        }
        @else if(submitionStatus() !== -1){
        <c-alert visible="true" dismissible="true" color="danger" fade>
            חלה תקלה, יש לנסות שוב, אם הבעיה ממשיכה נא לפנות לתמיכה
        </c-alert>
        }
    </form>

</main>