header {
    height: 5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;

    .logo {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        background-color: #e7e7e7;
    }

    .links {
        display: flex;
        gap: 1rem;

        a {
            max-width: 10rem;
            padding: .5rem;
            color: #fff;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            border: 2px solid #fff;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #ffffff33;
            }

            &.whatsapp {
                display: flex;
                align-items: center;
            }

            &.site-link {
                align-content: center;
            }
        }
    }
}

@media(max-width: 768px) {
    header {
        justify-content: space-between;

    }
}