<header>
    <a class="link-wrapper whatsapp" target="_blank"
        href="https://api.whatsapp.com/send?phone=972546655932&text=%D7%A9%D7%9C%D7%95%D7%9D,%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%94%D7%AA%D7%99%D7%99%D7%A2%D7%A5">
        לשיחת וואטסאפ
        <img [src]="whatsappUrl" alt="whatsapp" height="30" width="30" fetchpriority="high" >
    </a>
    <a class="link-wrapper site-link" href="https://www.avi-safety.co.il/" target="_blank">לאתר המלא</a>
    <div class="logo" routerLink="/">
        <img [src]="logoUrl" alt="logo" height="80" width="80" fetchpriority="high" loading="eager"/>
    </div>
</header>
