header {
    height: 5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    padding-right: 1rem;

    .logo {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        background-color: #e7e7e7;
    }

    .link-wrapper {
        display: inline-block;
        height: calc(100% - 1rem);
        max-width: 10rem;
        padding: .5rem;
        color: #fff;
        text-decoration: underline;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        border: 2px solid #fff;
        border-radius: 4px;
        cursor: pointer;

        &.whatsapp {
            display: flex;
            align-items: center;
        }

        &.site-link {
            align-content: center;
        }
    }
}

@media(max-width: 768px) {
    header {
        justify-content: space-between;

    }
}