.heading {
    display: flex;
    gap: 1rem;

    button {
        display: flex;
        gap: 1rem;

        mat-spinner {
            height: auto !important;
            width: 1.25rem !important;
        }

        &:hover ::ng-deep mat-spinner circle {
            stroke: white;
        }
    }


}

form {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;

    .form-control-wrapper {
        display: grid;
        gap: 0.25rem;

        input,
        select {
            width: 100%;
        }
    }
}