<main>
    <div id="carousel" class="carousel carousel-fade" data-coreui-ride="false">
        <div class="carousel-inner">
            @for(question of appService.questions(); track question){
            <div class="carousel-item" [class.active]="$index === activeIndex()">
                <question-card [userEntries]="userEntries" [question]="question" [questionIndex]="$index">
                </question-card>
            </div>
            }
        </div>
        <div class="controls">
            <button type="button" data-coreui-target="#carousel" data-coreui-slide="prev">
                <svg [cIcon]="icons.cilArrowCircleRight" width="25" title="ArrowRight"></svg>
            </button>
            <ol class="carousel-indicators">
                @for(question of appService.questions(); track question){
                <li [class]="calcCarouselCardClass($index)" data-coreui-target="#carousel"
                    [attr.data-coreui-slide-to]="$index">
                </li>
                }
            </ol>
            <button type="button" data-coreui-target="#carousel" data-coreui-slide="next">
                <svg [cIcon]="icons.cilArrowCircleLeft" width="25" title="ArrowLeft"></svg>
            </button>
        </div>
    </div>
    <div class="submit-wrapper">
        <button (click)="submit()" [disabled]="appService.quizSent()">
            סיום ושליחה
            @if(loading()){
            <mat-spinner></mat-spinner>
            }
        </button>
        <c-alert (closed)="showAlert.set(false)" [visible]="showAlert()" (visibleChange)="showAlert.set($event)"
            dismissible="true" color="warning" fade>
            לא ניתן לשלוח, יש לענות על כל השאלות
        </c-alert>

        @let resp = appService.responseSignal().resp;
        @if(resp === "success"){
        <c-alert visible="true" dismissible="false" color="success" fade>
            החידון נשלח בהצלחה
        </c-alert>
        }
        @else if(resp !== -1){
        <c-alert visible="true" dismissible="true" color="danger" fade>
            {{ resp }}
        </c-alert>
        }
    </div>
</main>