main {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;
    overflow-y: auto;
    width: 100%;

    .webmaster{
        overflow-x: auto;
    }

    ::ng-deep .admin {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;

        >* {
            border: 1px dashed var(--main-color);
            padding: 1rem;
        }

        details {
            &[open] {
                summary:not(:hover)::marker {
                    color: var(--main-color);
                }
            }

            summary {
                outline: 0;

                &::marker {
                    font-size: 1.5rem;
                }

                &:hover {
                    color: var(--main-color);
                }

                h2 {
                    display: inline-block;
                    margin-inline-start: 0.25rem;
                }
            }
        }

        .scores-table {
            display: grid;
            gap: 1rem;
            grid-auto-rows: min-content;

            select {
                justify-self: flex-start;
                display: block;
            }

            h3 {
                display: inline-block;
            }

            .table-wrapper {
                max-height: calc(90vh - 10rem);
                min-height: 10rem;
            }
        }
        .add-quiz {
            grid-column: span 2;
        }
    }

    ::ng-deep table {
        td {
            text-align: center;
        }

        th>div {
            display: flex;
            justify-content: center;
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: #ddd;
                }

                &:hover {
                    background-color: #d0e5ff;
                }
            }
        }
    }

}

@media(max-width: 768px) {
    main {

        .admin {
            grid-template-columns: 1fr;
        }

    }
}