main {
    display: grid;
    grid-template-columns: 1fr;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;
    overflow-y: auto;
    width: 100%;

    ::ng-deep .admin {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;

        >* {
            border: 1px dashed var(--main-color);
            padding: 1rem;
        }

        summary {
            outline: 0;

            :hover {
                color: blue;
            }

            h2 {
                display: inline-block;
                margin-inline-start: 0.25rem;
            }
        }

        .scores-table {
            display: grid;
            gap: 1rem;
            grid-auto-rows: min-content;

            select {
                justify-self: flex-start;
            }

            .table-wrapper {
                max-height: calc(100vh - 8rem);
            }
        }
    }

    ::ng-deep table {
        td {
            text-align: center;
        }

        th>div {
            display: flex;
            justify-content: center;
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: #ddd;
                }

                &:hover {
                    background-color: #a0a0a0;
                }
            }
        }
    }

}

@media(max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        // margin: 1rem;

        .admin {
            grid-template-columns: 1fr;
        }

    }
}