@let role = this.appService.userDetails().role;
{{selectedSchool()}}
<main>
    <h1>ניהול</h1>
    <div [class]="role">
        @if (role === 'webmaster'){
        @defer (on immediate) {
        <logs />
        }
        }
        @if (role === 'admin'){
        <div class="scores-table">
            <details open>
                <summary>
                    <h2>צפייה בתוצאות</h2>
                </summary>
                <select [(ngModel)]="selectedSchool" #selectSchool>
                    <option value='' selected>בחירת בית ספר</option>
                    @for(school of dashboardService.schoolsWithScoresForAdmin(); track school.id){
                    <option [value]="school.id">{{school.name}}</option>
                    }
                </select>
                @if(selectedSchool() !== ''){
                <h3> רכז\ים: </h3>
                <span>
                    @for(supervisor of currentSchoolSupervisors(); track $index){
                    {{supervisor}}
                    @if(!$last){
                    {{', '}}
                    }
                    } @empty {
                    <span>אין רכזים</span>
                    }
                </span>
                @defer (on immediate) {
                <scores-table />
                }
                }
            </details>
        </div>
        <div class="passwords">
            <details open>
                <summary>
                    <h2>ניהול סיסמאות</h2>
                </summary>
                @defer (on immediate) {
                <passwords-table />
                }

            </details>
        </div>
        <div class="add-schools">
            <details open>
                <summary>
                    <h2>הוספת בית ספר</h2>
                </summary>
                @defer (on immediate) {
                <add-school />
                }
            </details>
        </div>
        
        <div class="edit-schools">
            <details open>
                <summary>
                    <h2>עריכת בית ספר</h2>
                </summary>
                @defer (on immediate) {
                <edit-school />
                }
            </details>
        </div>
        <div class="add-quiz">
            <details open>
                <summary>
                    <h2>הוספת חידון</h2>
                </summary>
                @defer (on immediate) {
                <add-quiz />
                }
            </details>
        </div>

        }

        @defer (on immediate) {
        @if (role === 'supervisor'){
        <scores-table />
        }
        }


    </div>
</main>