main {
    display: flex;
    // justify-self: center;
    margin: 2rem;
    padding: 1rem;
    direction: rtl;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    // width: min(85%, 768px);
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;

    .passwords {
        flex: 2;
    }

    .scores {
        flex: 3;
    }

    ::ng-deep table {
        td {
            text-align: center;
        }

        th > div {
            display: flex;
            justify-content: center;
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: #ddd;
                }

                &:hover {
                    background-color: #a0a0a0;
                }
            }
        }
    }


    form {
        display: flex;
        gap: 1rem;
        outline: 0;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        
    }
}