.table-wrapper {
    max-width: calc(50vw - 5rem);
    overflow-x: auto;

    ::ng-deep th{
        text-align: center;
    }

    span {
        font-size: 1.25rem;
        &.correct {
            color: green;
        }

        &.wrong {
            color: red;
        }

    }
}