.table-wrapper {
    max-width: calc(50vw - 5rem);
    overflow-x: auto;
    user-select: none;
    ::ng-deep th,td{
        text-align: center;
        cursor: pointer;
    }

    span {
        font-size: 1.25rem;
        &.correct {
            color: green;
        }

        &.wrong {
            color: red;
        }

    }
}
@media (max-width: 768px) {
    table-wrapper{

        max-width: unset;
    }
}