.table-wrapper {
    display: grid;
    overflow-x: auto;
    user-select: none;

    ::ng-deep th,
    td {
        text-align: center;
        cursor: pointer;
    }

    span {
        font-size: 1.25rem;

        &.correct {
            color: green;
        }

        &.wrong {
            color: red;
        }

    }

    .spinner-wrapper {
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    table-wrapper {

        max-width: unset;
    }
}