*{
    text-align: left;

    --ngx-json-string: black;
    --ngx-json-number: black;
    --ngx-json-boolean: black;
    --ngx-json-date: black;
    --ngx-json-array: black;
    --ngx-json-object: black;
    --ngx-json-function: black;
    --ngx-json-null: black;
}