.wrapper {
    padding: 0 .5rem .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .background {
        background: linear-gradient(to top, #7c4617, #6576ae, #232221);
        filter: blur(8px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: -1;
        opacity: 0;
        transition: opacity 300ms ease;
        &.loaded{
            opacity: 1;
        }
        img {
            position: absolute;
            pointer-events: none;
            user-select: none;
            overflow: hidden;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            display: block;
        }
    }


}