main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 0;
    padding: 1rem;
    direction: rtl;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;

}

form {
    display: grid;
    justify-content: center;
    gap: 1rem;
    outline: 0;
}