main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2rem;
    padding: 1rem;
    direction: rtl;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;

}

form {
    display: flex;
    gap: 1rem;
    outline: 0;
}

@media(max-width: 768px) {
    form {
        flex-direction: column;
    }
}