main {
    display: grid;
    justify-self: center;
    margin: 2rem auto;
    padding: 1rem;
    direction: rtl;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    width: min(85%, 768px);
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;

    table {
        user-select: none;

        th {
            text-align: center;
            font-size: 2rem;
        }

        td {
            display: flex;
            align-items: center;
            padding: .5rem;
            font-size: 1.5rem;
            line-height: 1.5rem;

            input {
                width: 10ch;
                padding: .25rem;
            }

            button{
                margin-inline: auto 0.75rem;
                display: inline-flex;
                cursor: pointer;
                border: 0;
                background-color: transparent;
                border-radius: 50%;
                padding: .25rem;
                &:disabled {
                    cursor: not-allowed;
                }
                &:hover:not(:disabled) {
                    background-color: #900;
                }
                &.edit:hover {
                    background-color: #090;
                }
            }
        }
    }

    form {
        display: flex;
        gap: 1rem;
        outline: 0;
    }
}