main {
    display: grid;
    justify-self: center;
    margin: 2rem auto;
    padding: 1rem;
    direction: rtl;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    width: min(85%, 768px);
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;

    button {
        justify-self: center;
        margin-bottom: 1rem;
        background: green;
        color: white;
        padding: 0.5rem;
        align-self: center;
        border: navajowhite;
        border-radius: .25rem;
        font-weight: bold;
        font-size: 1.25rem;
        cursor: pointer;
    }
}