<main>
    <h1>שלום וברוכים הבאים לחידון העירוני </h1>
    <h3>החידון יתחיל מהמסך הבא ויתנהל בצורה הבאה:</h3>
    <p>
        בכל שקופית תופיע שאלה, שאלות בונוס יופיעו בצבע ירוק ולהן ניקוד גבוה יותר.
        אם מופיעה תמונה קטנה אפשר לעבור לתצוגה מוגדלת שלה ע"י לחיצה על התמונה.
    </p>
    <p>
        ישנן 4 תשובות אפשריות לכל שאלה, כל אחת תופיע בכפתור נפרד. לבחירת התשובה הנכונה יש ללחוץ עליה.
    </p>
    <p>
        למעבר לשקופית הבאה יש ללחוץ קדימה בתחתית המסך.
        <br />
        למעבר לשקופית הקודמת יש ללחוץ אחורה בתחתית המסך.
    </p>
    <div>
        לנוחיותכם, סרגל ניווט בו כל שקופית מיוצגת ע"י עיגול:
        <p>
            עיגול אדום – שאלה שלא נענתה.
            <br />
            עיגול צהוב – שאלה נוכחית.
            <br />
            עיגול ירוק – שאלה שנענתה.
        </p>
        <p>למעבר לשקופית ספציפית, יש ללחוץ על העיגול הרלוונטי בתחתית המסך. </p>
    </div>
    <p>*באפשרותכם לחזור ולתקן תשובות עד הלחיצה על 'סיום ושליחה'.</p>
    <h3>
        ועכשיו קחו לכם כמה שניות להתארגן וכשתהיו מוכנים לחצו על 'התחלה', אנו מאחלים לכם המון בהצלחה!
    </h3>
    <button (click)="startQuiz()">התחלה</button>
</main>