<div class="wrapper">

    <div class="card">
        @let hasImage = !!question().imageUrl?.length;
        <!-- @let fileUrl =  question().imageUrl ??'' ; -->
        @let mediaType = checkMediaType(hasImage);


        <div class="title" [class]="{'bonus' : question().weight === 1.5, 'has-img': hasImage}">
            {{getTitle()}}
            @if(hasImage){
            <button [attr.popovertarget]="'popover' + question().imageUrl">
                <span>
                    @if(mediaType === 'video'){
                    <div class="media-thumbnail">
                        <mat-icon class="video-icon">play_circle</mat-icon>
                    </div>

                    <!-- <mat-icon class="video">video_file</mat-icon> -->
                    } @else{
                    <img loading="lazy" fetchpriority="low" [src]="getURL()">
                    }
                </span>
            </button>
            <div class="popover-wrapper" [id]="'popover' + question().imageUrl" popover>
                @if(mediaType === 'video'){
                <video controls>
                    <source [src]="getURL()" type="video/mp4">
                    הדפדפן שלך לא תומך בתג וידאו.
                </video>
                } @else if(mediaType === 'image'){
                <img [src]="getURL()">
                } @else {
                <img [src]="getURL()">
                }

            </div>
            }
        </div>

        <div class="possible-answers">
            @for(answer of possible_answers(); track $index){
            <button [disabled]="appService.quizSent()" (click)="userAnswered(answer.id)"
                [class]='highlightSelectedAnswer(answer.id)' class="answer">
                {{ answer.value }}
            </button>
            } @empty {
            <textarea placeholder="נא למלא את תשובתך" required [disabled]="appService.quizSent()"
                (blur)="userAnswered($event)"></textarea>
            }
        </div>
    </div>
</div>