<div class="wrapper">

    <div class="card">
        @let hasImage = question().imageUrl?.length;
        @let imageUrl = apiUrl + question().imageUrl;
        <div class="title" [class]="{'bonus' : question().weight === 1.5, 'has-img': hasImage}">
            {{getTitle()}}
            @if(hasImage){
            <button [attr.popovertarget]="'popover' + question().imageUrl">
                <span>
                    <img loading="lazy" fetchpriority="low" [src]="imageUrl">
                </span>
            </button>
            <div class="popover-wrapper" [id]="'popover' + question().imageUrl" popover><img [src]="imageUrl"></div>
            }
        </div>

        <div class="possible-answers">
            @for(answer of possible_answers(); track $index){
            <button [disabled]="appService.quizSent()" (click)="userAnswered(answer.id)"
                [class]='highlightSelectedAnswer($index)' class="answer">
                {{ answer.value }}
            </button>
            } @empty {
            <textarea placeholder="נא למלא את תשובתך" required 
                [disabled]="appService.quizSent()"
                (blur)="userAnswered($event)"></textarea>
            }
        </div>
    </div>
</div>