<div class="wrapper">

    <div class="card">
        @let hasImage = question().imageUrl?.length;
        @let fileUrl = apiUrl + question().imageUrl;
        @let mediaType = checkMediaType(fileUrl);

        <div class="title" [class]="{'bonus' : question().weight === 1.5, 'has-img': hasImage}">
            {{getTitle()}}
            @if(hasImage){
            <button [attr.popovertarget]="'popover' + question().imageUrl">
                <span>
                    @if(mediaType === 'image'){
                    <img loading="lazy" fetchpriority="low" [src]="fileUrl">
                    } @else if(mediaType === 'video'){
                        <mat-icon>video_file</mat-icon>
                    }
                </span>
            </button>
            <div class="popover-wrapper" [id]="'popover' + question().imageUrl" popover>
                <!-- <img [src]="fileUrl"> -->
                @if(mediaType === 'image'){
                <img [src]="fileUrl">
                } @else if(mediaType === 'video'){
                <video controls>
                    <source [src]="fileUrl" type="video/mp4">
                    הדפדפן שלך לא תומך בתג וידאו.
                </video>
                }

            </div>
            }
        </div>

        <div class="possible-answers">
            @for(answer of possible_answers(); track $index){
            <button [disabled]="appService.quizSent()" (click)="userAnswered(answer.id)"
                [class]='highlightSelectedAnswer(answer.id)' class="answer">
                {{ answer.value }}
            </button>
            } @empty {
            <textarea placeholder="נא למלא את תשובתך" required [disabled]="appService.quizSent()"
                (blur)="userAnswered($event)"></textarea>
            }
        </div>
    </div>
</div>