.wrapper {
    height: 100%;
    display: flex;
}

.card {
    flex: 1;
    background-color: lightgreen;
    background: linear-gradient(to left, red 0, red 33.3%, orange 33.3%, orange 66.6%, green 66.6%, green) bottom no-repeat;
    background-size: 100% 0.5rem;
    padding-block: 1rem 2rem;
    border: 1px solid;
    display: grid;
    grid-template-rows: auto 1fr;
    flex: 1;

    .possible-answers {
        display: grid;
        gap: 1rem;
        margin-top: 1rem;
        padding-inline: 0.75rem;
        grid-template-columns: 1fr 1fr;

        &:has(textarea) {
            grid-template-columns: 1fr;
        }

        .answer {
            display: grid;
            text-align: center;
            align-items: center;
            background-color: var(--main-color-light);
            padding: .5rem .375rem;
            border-radius: .5rem;
            color: #1b1e4b;

            &:not([disabled]) {
                cursor: pointer;

                &:hover {
                    background-color: var(--secondary-color);
                }
            }

            &.highlight {
                background-color: var(--secondary-color);
            }
        }
    }

    .title {
        font-size: 1.25rem;
        color: var(--main-color);
        font-weight: bolder;
        margin-inline: 1.5rem;
        padding: .25rem;

        &.bonus {
            color: #258841;
        }

        .media-thumbnail {
            width: 2rem;
            height: 2rem;
            border-radius: .25rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f0f0f0;
            border: 1px solid var(--main-color);
            .video-icon {
                font-size: 1.5rem;
                color: var(--main-color);
            }
        }

        button {
            background: none;
            border: none;

            span {
                height: 2.25rem;
                width: 2.25rem;
                display: inline-block;
                cursor: pointer;
                vertical-align: middle;

                img,
                .video {
                    aspect-ratio: 1 / 1;
                    height: 100%;
                    border: 1px dashed;
                    color: black;

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }

        .popover-wrapper {
            max-width: 60vw;
            min-width: 30vw;
            max-height: 60vh;
            min-height: 30vh;
            aspect-ratio: 16 / 9;
            overflow: clip;

            video {
                width: 100%;
                aspect-ratio: 16 / 9;
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media(max-width:768px) {
    .popover-wrapper {
        width: min(80%, 700px);

        img {
            height: 100%;
            width: 100%;
            background-size: cover;
        }
    }
}