<main>
    <div class="refresh">
        <button (click)="refreshData()">
            @if(loading()){
            <mat-spinner></mat-spinner>
            }
            רענון
        </button>
    </div>
    <mat-table [dataSource]="pagedData()">
        <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef class="message"> Message </mat-header-cell>
            <mat-cell *matCellDef="let log" class="message">
                <div [style.width.%]="100">
                    <log-message [message]="log.message | jsonify | schoolidToSchoolname" />
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sessionId" class="sessionid">
            <mat-header-cell *matHeaderCellDef class="sessionid"> SessionId </mat-header-cell>
            <mat-cell *matCellDef="let log">{{ log.sessionId }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="context" class="context">
            <mat-header-cell *matHeaderCellDef class="context"> context </mat-header-cell>
            <mat-cell *matCellDef="let log">{{ log.context }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="level">
            <mat-header-cell *matHeaderCellDef class="level"> Level </mat-header-cell>
            <mat-cell *matCellDef="let log" [class]="log.level" class="level"> {{ log.level }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="timestamp" class="timestamp">
            <mat-header-cell *matHeaderCellDef class="timestamp">Time </mat-header-cell>
            <mat-cell *matCellDef="let log"> {{ log.timestamp | date:'d/M/y | HH:mm:ss' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete" >
            <mat-header-cell mat-header-cell *matHeaderCellDef class="delete">Delete</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" class="delete">
                @if (confirmDeleteRow() !== row._id) {
                <button mat-icon-button (click)="confirmDeleteRow.set(row._id)">
                    <mat-icon>delete</mat-icon>
                </button>
                } @else {
                <button mat-button color="warn" (click)="deleteRow(row._id)">Delete</button>
                <button mat-button (click)="confirmDeleteRow.set(null)">Oops</button>
                }
            </mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="['message', 'sessionId', 'context', 'level', 'timestamp', 'delete' ]"></mat-header-row>
        <mat-row
            *matRowDef="let row; columns: ['message', 'sessionId', 'context', 'level', 'timestamp', 'delete'];"></mat-row>
    </mat-table>
    <mat-paginator [attr.dir]="'rtl'" [length]="dashboardService.logs().length" [pageSize]="pageSize()"
        [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPageChange($event)">
    </mat-paginator>
</main>