main {
    direction: ltr;
    button{
        padding: .25rem .5rem;
    }
    mat-table {
        text-overflow: ellipsis;
        overflow: hidden;

        >*>:first-of-type:not(:only-of-type) {
            padding-inline: 1.5rem 0;
        }

        mat-header-row, mat-row {
            pre{
                text-align: left;
            }
            &:has(.error) {
                background-color: #f004;
            }
            &:has(.success) {
                background-color: #0f03;
            }
            .message {
                flex-grow: 2.5;
            }

            .sessionid {
                flex-grow: 1.2;
            }

            .context {
                flex-grow: 1.5;
            }

            .level {
                flex-grow: 1;
            }
            .delete {
                user-select: none;
                flex-grow: 1;
            }

            .timestamp {
                flex-grow: 1.5;
            }

        }

    }
}