<main>
    <h1>ברוכים הבאים</h1>
    <h2>נא למלא פרטי זיהוי:</h2>
    <form #identificationForm="ngForm" class="identification-form">
        @let isStudentFlow = !isMemberFlow();
        @if(isStudentFlow){
        <label for="name">שם מלא:</label>
        <input autocomplete="on" [(ngModel)]="name" name="name" id="name" type="text" [required]="isStudentFlow">
        }
        <label for="phone">טלפון:</label>
        <div class="phone-wrapper">
            <input autocomplete="on" [(ngModel)]="phone" name="phone" id="phone" pattern="^\d{10}$" type="tel"
                placeholder="0521234567" (input)="onInputChange($event)" required>
            @if(phoneCheckLoading()){
            <mat-spinner></mat-spinner>
            }
        </div>
        @if(!isStudentFlow){
        <input type='password' name='password' [(ngModel)]='password' minlength='8' [required]="!isStudentFlow"
            placeholder='סיסמה' autocomplete="current-password">

        } @else{
        <label for="school">בחירת בית ספר:</label>

        <select [(ngModel)]="school" name="school" id="school" [required]="isStudentFlow">
            <option [value]="''">בחירה מרשימה</option>
            @for(school of schools(); track $index){
            <option [value]="school._id">{{school.name}}</option>
            }
        </select>
        <label for="grade">כיתה:</label>
        <input autocomplete="on" [(ngModel)]="grade" name="grade" id="grade" type="text" [required]="isStudentFlow">
        }
        <button [disabled]="identificationForm.invalid" (click)="login()">
            המשך
            @if(loginCheckLoading()){
            <mat-spinner></mat-spinner>
            }
        </button>
    </form>
</main>