<main>
    <h1>ברוכים הבאים</h1>
    <h3>נא למלא פרטי זיהוי:</h3>
    <div class="identification">
        <label for="name">שם מלא:</label>
        <input autocomplete="on" [(ngModel)]="name" id="name" type="text">
        <label for="phone">טלפון:</label>
        <input autocomplete="on" [(ngModel)]="phone" id="phone" type="tel">
        <label for="school">בחירת בית ספר:</label>
        <select [(ngModel)]="school" id="school">
            @for(school of schools(); track school){
            <option [value]="school._id">{{school.name}}</option>
            }
        </select>
        <label for="grade">כיתה:</label>
        <input autocomplete="on" [(ngModel)]="grade" id="grade" type="text">
        <button [disabled]="!areDetailsFilled()" (click)="checkIfSupervisor()">המשך</button>
    </div>
</main>