main {
    display: grid;
    justify-self: center;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 2.5rem 0.5rem;
    justify-content: center;
    gap: 1rem;
    background-color: #ffffffcc;

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .identification-form {
        display: grid;
        gap: 0.5rem;

        button {
            justify-self: center;
            margin-bottom: 1rem;
            background: green;
            color: white;
            padding: .5rem;
            align-self: center;
            border: navajowhite;
            border-radius: .25rem;
            font-weight: bold;
            font-size: 1.25rem;
            cursor: pointer;

            display: flex;
            align-items: center;
            gap: .75rem;
            mat-spinner {
                height: 1rem !important;
                width: 1rem !important;
            }
            &[disabled] {
                opacity: .5;
                cursor: not-allowed;
            }
        }

        .phone-wrapper {
            width: 1.5rem;
            height: 1.5rem;
            padding: .125rem;
            display: flex;
            position: relative;
            width: 100%;
            height: auto;
            align-items: center;
            input{
                width: 100%;
            }
            mat-spinner {
                position: absolute;
                right: 1rem;
                max-width: 1.5rem;
                max-height: 1.5rem;
            }
        }
    }
}