@use '@angular/material' as mat;
@use '../theme-colors' as theme;
@include mat.core();


:root {
  --main-color: #961a1d;
  @include mat.table-theme(theme.$light-theme);
  @include mat.progress-spinner-overrides((active-indicator-color: var(--main-color),
    ));

}

input,
button,
textarea,
select {
  border: 1px solid #333;
  border-radius: 0.25rem;
  background: white;
  padding: .5rem 1rem;

  &:focus-visible {
    outline: 1px solid var(--main-color);
    caret-color: var(--main-color);

  }
}

button:not(:disabled):hover {
  background-color: var(--main-color);
  color: white;
}

select {
  appearance: none;
}

textarea{
  resize: none
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}


.main-content {
  width: min(90%, 768px);
  max-width: 768px;
  margin-inline: auto;

  &:has(.admin,.webmaster) {
    width: 90vw;
    max-width: unset;
  }
}

.main-content>*>main {
  width: 100%;
}

th {
  color: white;
  background-color: var(--main-color) !important;
}

.cdk-overlay-container * * {
  font-family: system-ui !important;
}
