main {
    max-height: calc(100vh - 10rem);
    overflow-y: auto;

    .table-wrapper {
        max-height: calc(100vh - 10rem);
        margin-top: 1rem;

        tr {
            cursor: pointer;
        }
    }
}