@if(dashboardService.scoresTableLoading()){
<mat-spinner [style.justifySelf]="'center'"></mat-spinner>
} @else {
<main>
    <h2>טבלת ציונים</h2>
    @if(showQuizForm){
    <button (click)="showQuizForm = false" class="back">חזרה</button>
    <div class="summary">
        <p>{{selectedRow?.name + ': ' + selectedRow?.score}}</p>
    </div>
    <student-sheet [studentPhone]="selectedRow?.phone!" />
    }
    @else {
    <select [(ngModel)]="selectedDateFilter" (change)="updateFilter($event)" id="date">
        <option value='' selected>כל התאריכים</option>
        @for(date of distinctDates(); track $index){
        <option [value]="date">{{date}}</option>
        }
    </select>
    <div class="table-wrapper">
        <table mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>
                    <div>שם</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="grade">
                <th mat-sort-header="grade" mat-header-cell *matHeaderCellDef>
                    <div>כיתה</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.grade ?? ''}}
                </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-sort-header="score" mat-header-cell *matHeaderCellDef>
                    <div>ציון</div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.score}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name','grade','score']"></tr>
            <tr (click)="rowClicked(row)" mat-row *matRowDef="let row; columns: ['name','grade','score']"></tr>
        </table>
    </div>
    <div class="record-count">{{"סך הרשומות: " + recordCount()}}</div>
    }

</main>
}