mat-spinner{
    margin: 1rem auto;
}
main {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    button, select {
        align-self: flex-start;
    }
    .summary{
        p{
            margin-top: 0.5rem;
        }
    }
    .table-wrapper {
        overflow-y: auto;
        flex: 1;
        margin-top: 1rem;

        tr {
            cursor: pointer;
        }
    }
}

